<h2 style="text-align: center;">Find a Full Stack Developer Job with Ease using JobSeeker</h2>
<section style="border: 10px solid rgb(207, 173, 225);">
  <img src="/assets/pexels-jopwell-2422293.jpg" alt="team working at computer desks"
    style=" width: 100%; height: auto;">
</section>
<div class="container">
  <div class="row">
    <div class="col-lg">
      <div class="card text-white bg-primary mb-3 h-100">
        <div class="card-header">1.Sign Up</div>
        <div class="card-body">
          <h5 class="card-subtitle">Create An Account</h6>
            <p class="card-text">Sign Up and access all the jobs available through Jobseeker.</p>
        </div>
      </div>
    </div>
    <div class="col-lg">
      <div class="card text-white bg-secondary mb-3 h-100">
        <div class="card-header">2.Create a Profile</div>
        <div class="card-body">
          <h5 class="card-title">Let Us Know Who You Are</h5>
          <p class="card-text">Set up a quick profile with basic details so we get a better idea of what you are
            looking for.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="card text-white bg-secondary mb-3 h-100">
        <div class="card-header">3.Resume</div>
        <div class="card-body">
          <h5 class="card-title">Upload Your Resume</h5>
          <p class="card-text">By uploading your resume for ease of access to submit to available job postings.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg">
      <div class="card text-white bg-primary mb-3 h-100">
        <div class="card-header">4.Search</div>
        <div class="card-body">
          <h5 class="card-title">Start Searching</h5>
          <p class="card-text">Look through available job to see what best suits you and what you are looking for.
          </p>
        </div>
      </div>
    </div>
  </div>

  <form class="d-flex" style="padding: 200px">
    <input class="form-control me-sm-2" type="text" placeholder="Search">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
  </form>