<div class="row">
  <div class="col-md-6">
    <form class="form login-form">
    <h3>Returning user?</h3>
    <h4>Sing in to your account</h4>
      <div class="form-group">
        <label for="email-login">Email address:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Sign In</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <form class="form signup-form">
    <h3>New to the system?</h3>
    <h4>Create an account</h4>
      <div class="form-group">
        <label for="name-signup">Name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email address:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Create</button>
      </div>
    </form>
  </div>
</div>
<script src="./js/login.js"></script>
