<body>
<section class = "container" style = "padding: 185px">
    <h1> Lets Get Started and Create Your Profile:</h1>
   <div class = "container" style = "padding-inline: 250px;border: 5px solid white;">
    <form>
        <fieldset>
            <legend style = "font-weight: 500;"> Profile Details:</legend>
            <div class="form-group">
                <label for="exampleTextarea" class="form-label mt-4">First Name:</label>
                <textarea class="form-control" id="exampleTextarea" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleTextarea" class="form-label mt-4">Last Name:</label>
                <textarea class="form-control" id="exampleTextarea" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1" class="form-label mt-4">Email address:</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" class="form-label mt-4">Password:</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>

            <div class="form-group">
                <label for="formFile" class="form-label mt-4">Upload Resume </label>
                <input class="form-control" type="file" id="formFile">
            </div>

            </div>
        </fieldset>


    </form>
    </div>
    </section>
    </body>